<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type ="text/css" href="/assets/style.css">
</head>
<body>
    <div id="containermain">
    <div id="container-dash">
        <h2 class="teste">
            <span>Essa é a lista de usuários cadastrados:</span>
        </h2>
        <table class="tabela">
            <thead>
                <th class="titulo">Nome</th>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
        <form action="/apagarusuario" method="post">
            <input type="submit" value="Apagar meu usuario" name="submit2" id="submit2">
        </form>
        
    </div>
</div>
    <script type="text/javascript" src="../script.js"></script>
</body>
</html>