#container {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.inpute {
    border-radius: 5px;
    padding:5px;
    margin-top: 2.5px;
}

.newuser{
    text-decoration: none;
    font-weight: bold;
}

#containermain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-dash {
    display: flex;
    flex:1;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    
}
#apagar {
    width: 11em;
    margin-top: 5px;
}

.tabela{
    justify-content: center;
    align-items: center;
}

.botaomeio{
    display: flex;
    justify-content: center;
}
.titulo{
    text-align: left;
}

.botaodireita{
    display:flex;
    justify-content: flex-end;
 
}
